*html * {
}

input[type=text] {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

.searchbar {
    padding-top: 75px;
    padding-left: 215px;
}

.search-button {
    width: 100px;
    height: 50px;
}

.home-button {
    width: 100px;
    height: 50px;
}

.recipe {
    font-size: 25px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	body .header{background-attachment: scroll;}
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	.header{background-attachment: scroll;}
}

@media screen and (max-width:769px) {
	.searchbar {
		width: 100%;
    padding-left: 15%;
	}
  input[type=text] {
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
  }
}
